* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: hsl(0deg, 0%, 60%);
}

/* Add styles here! */
main, header{
  padding-left: 32px;
}
section{
  padding-bottom: 48px;
}

.max-width-wrapper{
  max-width: 550px;
  margin: 0 auto;
}

.intro-chunk{
  max-width: 450px;
  padding: 96px 32px 48px 0px;
}


header{
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  margin-bottom: 96px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 64px;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

header p{
  font-size: 1.5rem;
}

.card p{
  font-size: 1rem;
  padding: 8px 32px;
  
}

strong{
  color: hsl(160deg, 100%, 30%);
}

.card{
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  margin-left: -32px
}

.indented-heading{
  display: inline-block;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 30%);
  max-width: 90vw;
  padding: 32px 32px 32px 64px;
  margin-top: 8px;
  margin-left: -32px;
}


